
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin: 0;
}

::selection {
  background: lightgreen;
  /* #ffb7b7; WebKit/Blink Browsers */
}
::-moz-selection {
  background: lightgreen; /* Gecko Browsers */
}

 a::selection {
  background: lightgray; /* WebKit/Blink Browsers */
}
a::-moz-selection {
  background: lightgray; /* Gecko Browsers */
} 

/* .sections-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
} */
section {
  padding: 150px 0;
}

section.about {
  flex:1;
}

section.projects {
  flex:2;
}

section.grid {
  flex:3;
}
section.content {
  flex:4;
}

section.interests {
  flex:5;
}
section.resume {
  flex:6;
}
section.contact {
  flex:7;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 900px) {
  header {
    padding: 56px 0 10px;
  }
}

.flush-div-in-section {
	padding: -150px 0;
}

a{
  color: #343a40;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #a4e7ad;
  /* outline: 0; */
}

a:hover{
		color: #81c483;
    text-decoration-color: #81c483;
    transition: all 0.2s;
}

h1 {
    color:rgb(255, 255, 255);
    font-family: Hind, sans-serif;
    font-size:50px;
    font-weight:700;
    height:100px;
    line-height:50px;
    margin-bottom: 15px;
}

h3 {
  color: rgb(33, 37, 41);
  font-size: 1.3rem;
  margin: 0.5rem;
  margin-bottom: 0;
}

.note {
  font-style: italic;
}

article {
  text-align: center;
}


.indented {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.major-indented {
    margin-left: 5rem;
}


.main-img {
  background:
    /* linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), */
      url(../images/cloud_hi_photo.jpeg);
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  width: auto;
  display: block;
}

.main-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2rem;
}

.avg-image {
  width: 60%;
  height: auto;
  align-self: center;
  margin: 0 auto;
}

.caption {
  padding-top: 0;
  margin: 0 auto;
  font-size: 14px;
  font-style: italic;
  margin-top: 0; 
}

.spacer-very-small {
  height: 0.5ex;
}
.spacer-small {
  height: 2.5ex;
}
.spacer-medium {
  height: 6ex;
}
.spacer-large {
  height: 15ex;
}




/* nav bar styling */
.navbar {
	width:100%;
	z-index:35;
	padding-top: 0.5ex;
	padding-bottom: 0.5ex;
}

 /* .navbar-toggler {
  max-width:10%;
  max-height:10%;
  padding:0;
  border: none;
}  */

/* 
.navbar-toggler:active{
  background: darkgray;
} */

.navbar-icon{
width: 60%;
}

.nav-link {
  text-decoration: none;
  font-style: normal;
  outline:none !important;
}

/* .nav-link:hover {
   text-decoration: underline;
   text-decoration-color: #fff;
} */


/* nav bar toggler animations 
hamburger -> x */
.navbar-toggle {
  border: none;
  padding-right: 0;
  background: transparent !important;
  align-items: center;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  transition: all 0.2s;
  background-color: inherit;
  padding: 0;
  display: block;
  background: #fff;
  width: 4.3em;
  height: 0.2rem;
  border-radius: 0.25rem;
  margin: 0 auto;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}





/* -------------------------
welcome box animation
------------------------- */

.svg-wrapper {
  position: relative;
  transform: translateY(-108%);
	margin: 0 auto;
  /* padding-top: 154px; */
}
.shape {
  stroke-dasharray: 100 1000;
  stroke-dashoffset: -580;
  stroke-width: 6px;
  fill: transparent;
  stroke: white;
  border-bottom: 5px solid white;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.svg-wrapper:hover .shape {
  stroke-width: 4px;
  stroke-dasharray: 600 -10;
    stroke-dashoffset: -150;
  stroke-dasharray: 900 0;
  /* stroke-dasharray: 1000; */
}





/* -------------------------
expanding divs
------------------------- */


/* -------------------------
heart animation
------------------------- */
.heart-loader {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: -90px;
  width: 180px;
  height: 180px;
  overflow: visible;
	padding: 50px;
}
.heart-loader__group {
  transform-origin: 0 90px;
  animation: group-anim 7s 1s infinite;
}
.heart-loader__square {
  stroke: #b8b8b8;
  stroke-dasharray: 240, 240;
  stroke-dashoffset: 240;
  animation: square-anim 7s 1s infinite;
}
.heart-loader__circle {
  stroke: #b8b8b8;
  stroke-dasharray: 188.522, 188.522;
  stroke-dashoffset: 188.522;
  transform-origin: 60px 30px;
}
.heart-loader__circle.m--left {
  animation: left-circle-anim 7s 1s infinite;
}
.heart-loader__circle.m--right {
  animation: right-circle-anim 7s 1s infinite;
}
.heart-loader__heartPath {
  stroke: #e21737;
  fill: transparent;
  stroke-dasharray: 308.522, 308.522;
  stroke-dashoffset: 308.522;
  animation: heart-anim 7s 1s infinite;
}
@keyframes square-anim {
  12% {
    stroke-dashoffset: 0;
  }
  43% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

@keyframes left-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
    transform: translateY(0);
  }
  41% {
    stroke-dashoffset: 0;
    transform: translateY(-30px);
  }
  43% {
    stroke-dashoffset: 0;
    transform: translateY(-30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes right-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
    transform: translateX(0);
  }
  41% {
    stroke-dashoffset: 0;
    transform: translateX(30px);
  }
  43% {
    stroke-dashoffset: 0;
    transform: translateX(30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateX(30px);
    opacity: 0;
  }
}

@keyframes group-anim {
  43% {
    transform: rotate(0);
  }
  54% {
    transform: rotate(-45deg);
  }
  90% {
    transform: rotate(-45deg);
    opacity: 1;
  }
  97% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-45deg);
    opacity: 0;
  }
}

@keyframes heart-anim {
  55% {
    stroke-dashoffset: 308.522;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  87% {
    stroke-dashoffset: 0;
    fill: #e21737;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e21737;
  }
}



/* -------------------------
social media buttons
------------------------- */
#socialbox {
  display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   min-height: 15ex;
}
.c-icon {
    width:  6ex;
    height: 6ex;
    fill: currentColor;
    transition: 0s;
}

.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--linkedin:hover    { color: #0077B5 }
.c-link--email:hover { color: #bd081c }
.c-link--instagram:hover { color: #833ab4 }
.c-link--github:hover  { color: #333 }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--linkedin:hover::after    { background: #0077B5 }
.c-link--email:hover::after { background: #bd081c }
.c-link--instagram:hover::after { background: #833ab4 }
.c-link--github:hover::after  { background: #333 }

.c-link {
    position: relative;
    /*color: #bbb;*/
}

.c-link:not(:last-of-type) {
    margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30px);
    opacity: 0;
    transition: 0.25s;
}

.c-tooltip::before {
    content: '';
    bottom: calc(100% + 2px);
    border: solid 5px transparent;
    border-top-color: currentColor;
}

.c-tooltip::after {
    content: attr(aria-label);
    bottom: calc(100% + 12px);
    padding: .61em .93em;
    font-size: .875rem;
    color: white;
    border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%);
}



/* -------------------------
popup confirmation
------------------------- */
.cd-popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
  transform: translateY(0);
}
