
*, *:after, *:before {
  font-family: 'Quicksand';
  font-size: 101%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin: 0;
}

::selection {
  background: #e3bce7;
  /* #ffb7b7; WebKit/Blink Browsers */
}
::-moz-selection {
  background: #e3bce7; /* Gecko Browsers */
}

 a::selection {
  background: lightgray; /* WebKit/Blink Browsers */
}
a::-moz-selection {
  background: lightgray; /* Gecko Browsers */
} 

/* .sections-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
} */
section {
  padding: 150px 0;
}
section.about {
  flex:1;
}
section.projects {
  flex:2;
}
section.grid {
  flex:3;
}
section.content {
  flex:4;
}
section.interests {
  flex:5;
}
section.resume {
  flex:6;
}
section.contact {
  flex:7;
}

.section-split {
  width:50%;
  height: 2ex;
  align-content: center;
  margin: 0 auto;
  /* background: blue; */
}
  .line {
    position: relative;
    z-index: 1;
    left: -50%;
    width: 100vw;
    height: 2px;
    -webkit-transform: rotate(-1.5deg); 
        -ms-transform: rotate(-1.5deg); 
            transform: rotate(-1.5deg);
}
.line-flip {
    position: relative;
    z-index: 1;
    left: -50%;
    width: 100vw;
    height: 2px;
    -webkit-transform: rotate(1deg); /* Safari and Chrome */
        -ms-transform: rotate(1deg); /* IE 9 */
            transform: rotate(1deg);
}
  .line-green {
    background-color: lightgreen;
}
  .line-white {
    height: 3px;
    background-color: white;
}
  .line-blue {
    background-color: #00C9FF;
}
  .line-purple {
    background-color: #C779D0;
}
  .line-orange {
    background-color: #FEAC5E;
}
  .line-turq {
    background-color: #4BC0C8;
}

   /* background: #FEAC5E;  
background: -webkit-linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E); 
background: linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E); 
 */


header {
  padding: 154px 0 100px;
}

@media (min-width: 900px) {
  header {
    padding: 56px 0 10px;
  }
}

.flush-div-in-section {
	padding: -150px 0;
}

a {
  color: #343a40;
  text-decoration: underline;
  /* text-decoration-color: #a4e7ad; */
  text-decoration-color: #C779D0;
  font-weight: 300;
  letter-spacing: 1px;
  white-space: nowrap;
  padding-left: 3px;
  padding-right: 3px;
  -moz-transition: all 0.2s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -o-transition: all 0.2s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -webkit-transition: all 0.2s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  transition: all 0.2s cubic-bezier(0.46, 0.01, 0.14, 1.35);
}

a:hover{
		color: white;
    text-decoration-color: #C779D0;
    transition: all 0.2s;
    /* background-color: #81c483; */
    background-color: #C779D0;
}

a:hover:after {
  -moz-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
  -o-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
  -webkit-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
  -moz-transform: translate(-15px, 50%);
  -ms-transform: translate(-15px, 50%);
  -webkit-transform: translate(-15px, 50%);
  transform: translate(-15px, 50%);
  padding: 10px 15px;
  max-height: 30px;
  opacity: 1;
}

.plain-link{
  background-color: transparent;
  font-weight: initial;
  font-family: inherit;
  color: rgb(33, 37, 41);
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  
}
.plain-link:hover{
  background-color: transparent;
  font-weight: initial;
  font-family: inherit;
  color: rgb(33, 37, 41);
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.plain-link:active, .plain-link:focus {
  outline: 0;
  border: none;
  outline-style: none;
  -moz-outline-style: none
}

h1 {
    color:rgb(255, 255, 255);
    font-family: "Hind", sans-serif;
    font-size:60px;
    font-weight:400;
    height:100px;
    line-height:55px;
    margin-bottom: 20px;
}

h3 {
  color: rgb(33, 37, 41);
  font-size: 1.3rem;
  margin: 0.5rem;
  margin-bottom: 0;
}

 p {
   font-size: 110%;
 }

.note {
  font-style: italic;
}

article {
  text-align: center;
}


.indented {
    margin-left: 1.7rem;
    margin-top: 0.5rem;
    width: 90%;
}

.major-indented {
    margin-left: 5rem;
}


.main-img {
  /* background:
      url(../images/cloud_hi_photo.jpeg);

  background-size: cover; */
  /* background-color: #559ee8;
  opacity: 0.8; */

  /* 3 color: turqoise, purple, orange gradient */
   background: #FEAC5E;  
background: -webkit-linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E); 
background: linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E); 



 /* Red/pink to purple gradient
  background: #B24592;  
  background: -webkit-linear-gradient(to right, #F15F79, #B24592); 
  background: linear-gradient(to right, #F15F79, #B24592);  */

  /* background: #11998e;  
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  
  background: linear-gradient(to right, #38ef7d, #11998e);  */
/* 
  background: #00C9FF;  

  background: #000000;  
background: -webkit-linear-gradient(to top, white, #00C9FF);  
background: linear-gradient(to top, white, #00C9FF); 

   */


  height: 100vh;
  margin: 0 auto;
  width: auto;
  display: block;
}

.circle-img {
  width: 30%;
  padding: 15% 0;
  margin: 1em auto;
  border-radius: 50%;
  background: white;
  border: 2px solid white;
}

/* responsive images */
  .img-responsive {
    width: 20em;
    display:block;
    margin: 0 auto;
  }
  .img-tall {
    width: 20em;
    display:block;
    margin: 0 auto;
  }

  .img-wide {
    width: 22em;
    display:block;
    margin: 0 auto;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) { 
    .img-responsive {
      width:20em;
    }
    .img-tall{
      width: 18em;
    }
    .img-wide {
      width: 95%;
    }
  }

  @media only screen and (max-width: 400px) { 
     .img-responsive, .img-tall {
      width:95%;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .img-responsive {
      width:22em;
    }
    .img-tall{
      width: 19em;
    }
    .img-wide {
      width: 28em;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .img-responsive {
      width:25em;
    }
    .img-tall{
      width: 20em;
    }
    .img-wide {
      width: 30em;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .img-responsive {
      width:25em;
    }
    .img-tall{
      width: 21em;
    }
    .img-wide {
      width: 32em;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .img-responsive {
      width:28em;
    }
    .img-tall{
      width: 22em;
    }
    .img-wide {
      width: 35em;
    }
  }





.img-container {
  padding-bottom: 15px;
}

.main-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2rem;
}

.avg-image {
  width: 60%;
  height: auto;
  align-self: center;
  margin: 0 auto;
}

.caption {
  padding-top: 0;
  margin: 0 auto;
  font-size: 14px;
  font-style: italic;
  margin-top: 0; 
}

/* spacers */
  .spacer-very-small {
    height: 0.5ex;
  }
  .spacer-small {
    height: 2.5ex;
  }
  .spacer-medium {
    height: 6ex;
  }
  .spacer-large {
    height: 15ex;
  }


/* nav bar styling */
  .navbar {
    width:100%;
    z-index:35;
    padding-top: 0.2ex;
    padding-bottom: 0.2ex;
    display: none;
  }

  /* .navbar-toggler {
    max-width:10%;
    max-height:10%;
    padding:0;
    border: none;
  }  */

  /* 
  .navbar-toggler:active{
    background: darkgray;
  } */

  .navbar-icon{
  width: 50%;
  }

  .navbar-brand:hover{
    background-color: transparent;
  }

  .nav-link {
    letter-spacing: initial;
    text-decoration: none;
    font-style: normal;
    background-color: transparent;
    outline:none !important;
  }

  .nav-link:hover{
    letter-spacing: initial;
    background-color: transparent;
    transition: all 0.2s;
    /* text-decoration: underline;
    text-decoration-color: white; */
  }



/* nav bar toggler animations 
hamburger -> x */
  .navbar-toggle {
    border: none;
    padding-right: 0;
    background: transparent !important;
    align-items: center;
  }
  .navbar-toggle:hover {
    background: transparent !important;
  }
  .navbar-toggle .icon-bar {
    transition: all 0.2s;
    background-color: inherit;
    padding: 0;
    display: block;
    background: #fff;
    width: 4.2em;
    height: 0.192rem;
    border-radius: 0.2rem;
    margin: 0 auto;
  }

  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggle .middle-bar {
    opacity: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
  }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
  }







/* -------------------------
welcome box animation
------------------------- */

  .svg-wrapper {
    position: relative;
    transform: translateY(-108%);
    margin: 0 auto;
    /* padding-top: 154px; */
  }
  .shape {
    stroke-dasharray: 100 1000;
    stroke-dashoffset: -580;
    stroke-width: 6px;
    fill: transparent;
    stroke: white;
    border-bottom: 5px solid white;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .svg-wrapper:hover .shape {
    stroke-width: 4px;
    stroke-dasharray: 600 -10;
      stroke-dashoffset: -150;
    stroke-dasharray: 900 0;
    /* stroke-dasharray: 1000; */
  }





/* -------------------------
responsive tabs
------------------------- */
  main {
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
  }

  .tab-content {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }

  label:hover {
    color: #888;
    cursor: pointer;
  }

  input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 3px solid #FEAC5E;
    
    border-bottom: 1px solid #fff;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }

  @media screen and (max-width: 650px) {

    label:before {
      margin: 0;
      font-size: 18px;
    }
  }

  

  /* Strava link */

  .followcard-header {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 2em;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px; }


  .followcard-container {
    width: 320px;
    margin: 0.7em auto 1em auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding-bottom: 1.5em;
    background-color: #dde1e2;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px; }

  .bg {
    /* border-bottom: 8px solid white;  */
    width: 100%;
  }

     @media screen and (max-width: 400px) {
      .followcard-container {
          width: 97%;
      }
    }


  .bio:hover > .desc {
    cursor: pointer;
    opacity: 1; }


  .data {
    margin-top: .1em;
    color: #81878b;
    }
    .data ul {
      padding: 0;
      margin: 0 auto;
    }

    .data li {
      width: 32%;
      text-align: center;
      display: inline-block;
      font-size: 1.5em;
      font-family: 'Quicksand';
      /* border-right: solid 1px #bdc3c7;  */
    }
      .data li:last-child {
        border: none; }
      .data li div {
        display: block;
        text-transform: uppercase;
        font-family: 'Quicksand';
        font-size: .5em;
        margin-top: .2em;
        font-weight:700;
      }

  .desc {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 182px;
    padding: 2.8em 1em 0 1em;
    color: white;
    text-align: center;
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }

    .desc p {
      font-size: .9em;
      font-family: 'Quicksand';
      line-height: 1.5em; }

  .follow {
    text-decoration: none;
    background-color: #fc4c02;
    font-weight: 600;
    width: 150px;
    color: white;
    font-family: "Quicksand";
    text-align: center;
    padding: .4em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    display: block;
    margin: 0 auto;
    margin-top: 1.8em;
    }

    .follow:hover {
      text-decoration: none;
      background-color: #2589cc;
      cursor: pointer; 
    }

    .follow2{
      background-color: #2589cc;
    }
    .follow2:hover{
    background-color: #81c483;
  }


/* image slideshow */
  .slideshow {
    max-width: 100ex;
    margin: 0 auto;
    background: rgb(235, 235, 235);
  }
  
.carousel {
    position: relative
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.active.carousel-item-right,
.carousel-item-next {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
    .active.carousel-item-right,
    .carousel-item-next {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.active.carousel-item-left,
.carousel-item-prev {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
    .active.carousel-item-left,
    .carousel-item-prev {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
    background: initial;
}

.carousel-control-next:after,
.carousel-control-prev:after {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, .5)
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators .active {
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.carousel .carousel-inner {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.carousel .now-ui-icons {
    font-size: 2em;
}



/* -------------------------
heart animation
------------------------- */
  .heart-loader {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-top: -90px;
    width: 180px;
    height: 180px;
    overflow: visible;
    padding: 50px;
  }
  .heart-loader__group {
    transform-origin: 0 90px;
    animation: group-anim 7s 1s infinite;
  }
  .heart-loader__square {
    stroke: #b8b8b8;
    stroke-dasharray: 240, 240;
    stroke-dashoffset: 240;
    animation: square-anim 7s 1s infinite;
  }
  .heart-loader__circle {
    stroke: #b8b8b8;
    stroke-dasharray: 188.522, 188.522;
    stroke-dashoffset: 188.522;
    transform-origin: 60px 30px;
  }
  .heart-loader__circle.m--left {
    animation: left-circle-anim 7s 1s infinite;
  }
  .heart-loader__circle.m--right {
    animation: right-circle-anim 7s 1s infinite;
  }
  .heart-loader__heartPath {
    stroke: #e21737;
    fill: transparent;
    stroke-dasharray: 308.522, 308.522;
    stroke-dashoffset: 308.522;
    animation: heart-anim 7s 1s infinite;
  }
  @keyframes square-anim {
    12% {
      stroke-dashoffset: 0;
    }
    43% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
    85% {
      stroke-dashoffset: 0;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 0;
    }
  }

  @keyframes left-circle-anim {
    12% {
      stroke-dashoffset: 188.522;
    }
    31% {
      stroke-dashoffset: 0;
      transform: translateY(0);
    }
    41% {
      stroke-dashoffset: 0;
      transform: translateY(-30px);
    }
    43% {
      stroke-dashoffset: 0;
      transform: translateY(-30px);
      opacity: 1;
    }
    85% {
      stroke-dashoffset: 0;
      transform: translateY(-30px);
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 0;
      transform: translateY(-30px);
      opacity: 0;
    }
  }

  @keyframes right-circle-anim {
    12% {
      stroke-dashoffset: 188.522;
    }
    31% {
      stroke-dashoffset: 0;
      transform: translateX(0);
    }
    41% {
      stroke-dashoffset: 0;
      transform: translateX(30px);
    }
    43% {
      stroke-dashoffset: 0;
      transform: translateX(30px);
      opacity: 1;
    }
    85% {
      stroke-dashoffset: 0;
      transform: translateX(30px);
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 0;
      transform: translateX(30px);
      opacity: 0;
    }
  }

  @keyframes group-anim {
    43% {
      transform: rotate(0);
    }
    54% {
      transform: rotate(-45deg);
    }
    90% {
      transform: rotate(-45deg);
      opacity: 1;
    }
    97% {
      transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      transform: rotate(-45deg);
      opacity: 0;
    }
  }

  @keyframes heart-anim {
    55% {
      stroke-dashoffset: 308.522;
      fill: transparent;
    }
    70% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    87% {
      stroke-dashoffset: 0;
      fill: #e21737;
    }
    100% {
      stroke-dashoffset: 0;
      fill: #e21737;
    }
  }



/* -------------------------
social media buttons
------------------------- */
  #socialbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 15ex;
  }
  .c-icon {
      width:  6ex;
      height: 6ex;
      fill: currentColor;
      transition: 0.1s;
  }

  .c-link--facebook:hover  { color: #3b5998 }
  .c-link--twitter:hover   { color: #55acee }
  .c-link--linkedin:hover    { color: #0077B5 }
  .c-link--email:hover { color: #bd081c }
  .c-link--instagram:hover { color: #833ab4 }
  .c-link--github:hover  { color: #333 }
  .c-link--facebook:hover::after  { background: #3b5998 }
  .c-link--twitter:hover::after   { background: #55acee }
  .c-link--linkedin:hover::after    { background: #0077B5 }
  .c-link--email:hover::after { background: #bd081c }
  .c-link--instagram:hover::after { background: #833ab4 }
  .c-link--github:hover::after  { background: #333 }

  .c-link {
      position: relative;
      transition: all 0.05s;
      white-space: initial;
      /*color: #bbb;*/
  }
  .c-link:hover{
    background-color: transparent;
    transition: all 0.05s;
    white-space: initial;
  }

  .c-link:not(:last-of-type) {
      margin-right: 15px;
  }

  .c-tooltip::before,
  .c-tooltip::after {
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -30px);
      opacity: 0;
      transition: 0.3s;
      line-height: initial;
  }

  .c-tooltip::before {
      content: '';
      bottom: calc(100% + 2px);
      border: solid 5px transparent;
      border-top-color: currentColor;
  }

  .c-tooltip::after {
      content: attr(aria-label);
      bottom: calc(100% + 12px);
      padding: 1rem;
      line-height: 12px;
      font-size: 0.9rem;
      color: white;
      border-radius: 3px;
  }

  .c-tooltip:hover::before,
  .c-tooltip:hover::after {
      opacity: 1;
      transform: translate(-50%);
  }




  /* -------------------------
popup confirmation
------------------------- */
  .cd-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }

  .cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  .cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
  }

  .is-visible .cd-popup-container {
    transform: translateY(0);
  }
